[Unit]
Description=Waitress instance to serve vrtg

[Service]
ExecStartPre=-/usr/bin/bash -c 'mkdir -p /run/waitress; chown http:http /run/waitress'
ExecStart=/usr/bin/bash -c 'cd /srv/http/vrtg; waitress-serve wsgi:application;'

[Install]
WantedBy=multi-user.target
